.color-blue{
	background-color: #009AA6;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fc7323 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #fc7323;
}
.color-dudoso{
	background-color: #006666;
}
.bar{
	margin-left: 30% !important;
    padding-right: 0;
    width: auto;
}
.width-container{
	max-width: 900px !important;
}
footer{
	background-color: #FC7323;
	color: white;
}
.titlesena{
	font-family: 'open_sanscondensed_light';
    margin: 0 0 5px 0;
    padding: 0 0 5px 5px;
    border-bottom: 2px #fc7323 dotted;
    font-size: 26px;
    color:  #fc7323;
}
.stl-nv-a{
	color: white !important;
	border: none !important;
	border-bottom: 2px solid #034545 !important;
}

.stl-nv-a:hover{
	border:none !important;
	border-bottom: 2px solid #059898 !important;
	transition: border .3s;
}

.stl-nv-a:active{
	border-bottom: 2px solid #ffffff !important;
}

.color-dudoso-btn{
	background-color: #006666;
}

.color-dudoso-btn:hover{
	background-color: #009a9a;
	transition: background .2s;
}

.img-Certificado{
	background-image: url('../img/plantilla.jpg');
	width: 1200px !important;
	height: 1000px;
	margin-left: 15%;
	background-repeat: no-repeat;
	overflow: hidden;
}

.cont-img{
	margin-top: 42%;
}
